body {
	padding-top: 30px;
}
.login .login-content {
	padding-top: 70px;
}


/*

 doclistappview-header FLUID 부분

 */
.container-header table {
	margin-bottom: 0px;
}

.container-header table td {
	border-top: 0px;
	padding: 0px;
	line-height: 1;
}

.container-header .density-small {
	-webkit-transition: font-size .218s, height .218s, line-height .218s,
		margin .218s, padding .218s, width .218s;
	-moz-transition: font-size .218s, height .218s, line-height .218s,
		margin .218s, padding .218s, width .218s;
	-ms-transition: font-size .218s, height .218s, line-height .218s, margin
		.218s, padding .218s, width .218s;
	-o-transition: font-size .218s, height .218s, line-height .218s, margin
		.218s, padding .218s, width .218s;
	transition: font-size .218s, height .218s, line-height .218s, margin
		.218s, padding .218s, width .218s;
	min-height: 53px !important;
}

#masthead {
	background: -webkit-gradient(radial,100 36,0,100 -40,120,from(white),to(whiteSmoke));
}

#masthead {
	background: whiteSmoke;
	border-bottom: 1px solid #E5E5E5;
}

.masthead.density-small {
	-webkit-transition: font-size .218s, height .218s, line-height .218s,margin .218s, padding .218s, width .218s;
	-moz-transition: font-size .218s, height .218s, line-height .218s,margin .218s, padding .218s, width .218s;
	-ms-transition: font-size .218s, height .218s, line-height .218s, margin.218s, padding .218s, width .218s;
	-o-transition: font-size .218s, height .218s, line-height .218s, margin.218s, padding .218s, width .218s;
	transition: font-size .218s, height .218s, line-height .218s, margins.218s, padding .218s, width .218s;
	height: 57px;
}

.searchbar.density-small .searchbar-logo {
	height: 57px;
	-webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-ms-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
}

.searchbar-logo {
	display: table-cell;
	vertical-align: middle;
}
.searchbar-logo {
	width: 220px;
}

.searchbar.density-small .searchbar-logo a {
	margin: 0 0 0 28px;
	-webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-ms-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
}

.searchbar-logo a {
	text-decoration: none;
	font-weight: bold;
	color: #404040;
	font-size: 24px;
	line-height: 36px;
}

.searchbar-logo a {
	margin: 0 0 0 44px;
}

.goog-inline-block {
	position: relative;
	display: -moz-inline-box;
	display: inline-block;
}

/*

 로그인

 */
.login-content {
	margin: 12px auto;
	width: auto;
	max-width: 1000px;
	min-width: 780px;
	padding: 23px 44px 0;
}

.login-info {
	margin: 0 385px 0 0;
}

.sign-in {
	width: 335px;
	float: right;
}

.signin-box {
	padding: 20px 25px 15px;
	background: #F5F5F5;
	border: 1px solid #E5E5E5;
}

.sign-in input {
	width: 96%;
}

.sign-in .input {
	margin-left: 0px;
	padding-top: 6px;
}

.sign-in .actions {
	background: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	border-top: none;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.sign-in .actions input {
	width: 100%;
}

.sign-in label {
	padding-top: 0px;
	width: 100%;
	float: none;
	margin-bottom: 6px;
}

/*

 main-body

*/
.container-main {
	width: 100%;
	overflow: hidden;
}
.container-main > table {
	margin-bottom: 0px;
}

.container-main > table > tbody > tr> td {
	border-top: 0px;
	padding: 0px;
	line-height: 1;
}
.container-main > table th {
	border-top: 0px;
	vertical-align: top;
}

.navpane {
	position: relative;
	overflow: hidden;
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
}

.navpane-top-list.density-small {
	-webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-ms-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	line-height: 22px;
}

.navpane-top-list.density-small ul{

}

.navpane-top-list.density-small li{
 	list-style: none;
 	padding-top: 6px;
}

.navpane-top-list.density-small li a{
	color: #222;
	text-decoration: none;
}
.navpane-top-list.density-small li a:HOVER{
	color: #DD4B39;
}
.product-logo.density-small {
	-webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-ms-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	padding: 14px 0 14px 28px;
	font-size: 20px;
}

.product-logo {
	border-bottom: 1px solid #EBEBEB;
	height: 29px;
	line-height: 29px;
}

.product-logo a {
	color: #DD4B39;
	text-decoration: none;
}

.contentcreationpane {
	min-height: 29px;
	font-size: 13px;
}

.contentcreationpane.density-small {
	-webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-ms-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	padding: 14px 0 14px 28px;
}

.goog-toolbar-item-new {
margin-right: 1px;
}

.goog-toolbar-item-new, .goog-toolbar-item-upload {
vertical-align: top;
}

.jfk-button-primary {
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

.jfk-button {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	margin-right: 16px;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 27px;
}

.jfk-button-primary {
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
	background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
	background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
	background-image: -o-linear-gradient(top,#dd4b39,#d14836);
	background-image: linear-gradient(top,#dd4b39,#d14836);
	border: 1px solid transparent;
	color: white;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

.goog-inline-block {
	position: relative;
	display: -moz-inline-box;
	display: inline-block;
}

.viewpane {
	position: relative;
}
.viewpane {
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
}

.viewpane-toolbar.density-small {
	-webkit-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-moz-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-ms-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	-o-transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	transition: font-size .218s,height .218s,line-height .218s,margin .218s,padding .218s,width .218s;
	padding: 14px 28px 14px 16px;
}
.viewpane-toolbar {
	border-bottom: 1px solid #EBEBEB;
}

.viewpane-toolbar {
	font-size: 13px;
	height: 29px;
	overflow: hidden;
}

