#header h1 {
	border-top: 1px solid rgba(0,0,0,0.50);
	border-bottom: 1px solid #000;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.10);
	background: #45474a;
	background: -webkit-gradient(linear,left top,left bottom,from(#45474a),to(#242728));
	background: -moz-linear-gradient(top,#45474a,#242728);
	background: linear-gradient(top,#45474a,#242728);
	color: #fff;
	text-shadow: 0 -1px #000;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	margin: 0;
	font-size: 18px;
}

#header h1 a {
	color: inherit;
	text-shadow: inherit
}

#header h2 {
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.40);
	background: #f4f4f4;
	background: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#dcdcdc));
	background: -moz-linear-gradient(top,#f4f4f4,#dcdcdc);
	background: linear-gradient(top,#f4f4f4,#dcdcdc);
	padding: 0 5px;
	margin: 0;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #c7c7c7;
	font-size: 1.5em;
}

#article {
	min-width: 612px;
	overflow: hidden;
	position: absolute;
	top: 73px;
	bottom: 0;
	left: 0;
	right: 0
}

#nav {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 220px;
	background: #f4f4f4;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	text-align: right;
	border-right: 1px solid #e0e0e0;
	-moz-box-shadow: inset -1px -1px 4px rgba(0,0,0,0.05);
	-webkit-box-shadow: inset -1px -1px 4px rgba(0,0,0,0.05);
	-moz-box-shadow: inset -1px -1px 4px rgba(0,0,0,0.05);
	-webkit-box-shadow: inset -1px -1px 4px rgba(0,0,0,0.05);
	box-shadow: inset -1px -1px 4px rgba(0,0,0,0.05);
}
#nav h2 {
	margin: 25px 35px 10px 0;
	font-size: 1.2em;
	line-height: 1.2em;
}
#nav ul {
	list-style: none;
	text-align: right;
	margin: 5px 35px 5px 0;
	font-size: 15px;
	text-shadow: 0 1px 0 #fff;
	color: #62696f
}
#nav li {
	margin: 10px 0
}
#nav a {
	color: inherit
}

#section {
	position: absolute;
	top: 0;
	left: 220px;
	bottom: 0;
	right: 0;
	background: #fff;
	padding: 25px 35px;
	font: 15px "helvetica neue", helvetica, arial, sans-serif;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#section p, #section hr, #section h2, #section h3, #section ul, #section ol {
	max-width: 550px
}

#section h2 {
	font-size: 18px;
	margin: 15px 0 10px 0;
	line-height: 1.4em;
	border-bottom: 1px solid #dadada
}

#section h3 {
	margin: 15px 0 10px 0;
	font-weight: normal
}

#section ul, #section ol {
	margin: 15px 0;
	line-height: 1.7em
}

#section .preview {
	position: relative;
}

#section .preview .handle {
	position: absolute;
	left: 520px;
	top: 0;
	padding: 0 4px;
	height: 15px;
	line-height: 10px;
	font-size: 13px;
	cursor: pointer
}
